{% extends "base.html" %}

{% set text_based = False %}

{% block section %}

<div class="row">
  <div class="small-12 large-9 small-centered columns">
    <h2>Activités à Marseille</h2>
    <p>
      En intérieur ou en extérieur, il y a plein de choses à faire
      avec des ami·es Djangonautes à Marseille. Nous allons remplir
      cette section avec les activités proposées.
    </p>
    <h3>La bonne Mère</h3>
    Si vous êtes arrivés par le train, en sortant de la gare, vous n'avez pu la rater. La basilique de notre dame de la garde, que tout le monde appelle ici La bonne Mère. Elle veille sur la ville posée sur son rocher. Si le coeur vous en dit, vous pourrez aller lui rendre visite, à pied ou en bus. <a href="https://www.marseilletourisme.fr/fr/que-voir/patrimoine-culture/eglises/notre-dame-garde/"> Plus d'informations sur le site qui va bien.</a>

    <h3>Visiter le Panier</h3>
    Le plus vieux quartier de Marseille est un arret obligatoire pour qui veut visiter la ville. Des petites rues qui tournent et virent, plus d'escaliers qu'il  n'est raisonnable d'en avoir et tout pleins de jolies boutiques pour les touristes. Ne tentez toutefois pas de retrouver les lieux dont parle "plus belle la vie", ils n'existent pas vraiment. Là encore, les informations sont <a href="https://www.marseilletourisme.fr/fr/que-voir/patrimoine-culture/quartiers/panier/">sur le site qui va vien </a>

    <h3>Le Parc Longchamps</h3>
     C'est dimanche, il fait beau, le soleil brille, vous avez simplement envie de lézarder tranquillement au soleil ? Le Parc Longchamps est la pour vous. En plus, il n'est pas très loin de la gare, vous pourrez récupérer sans soucis votre train. Et puis qui sait, en regardant avec suffisamment d'attention, vous verrez peut etre un ou deux reflets des DjangoCong 2011 qui se sont terminées sur l'herbe de ce même parc. Le <a href="https://www.marseilletourisme.fr/fr/que-voir/patrimoine-culture/parcs-jardins/parc-longchamps/">site qui en parle et donne les infos</a>

    <h3>Balades dans les calanques </h3>
      Il y a plusieurs chemins qui mênent tous aux calanques. Le plus simple est à priori celui qui vous permettra de
      découvrir la Calanque de Sugiton. Il faudra prendre le bus 21 jusqu'à Luminy puis monter tout en haut du parking se trouvant avant l'entrée dans le campus universitaire pour trouver la barrière de Luminy. Ensuite il n'y qu'à suivre le chemin.  un <a href="http://www.calanques13.com/balade-belvedere-sugiton.html">site</a> qui explique très bien les choses. En tout cas mieux que les lignes précédentes :)
    <h3>Prendre le bateau jusqu'au Frioul</h3>
      Vous êtes fan du masque de fer et vous voulez voir enfin le chateau d'If ? Ou alors vous voulez simplement sentir la mer, vous baladez tranquillement sur les magnifiques îles du Frioul ? Dans les deux cas les bateaux navettes vous attendent au Vieux Port. <a href="https://lebateau-frioul-if.fr/billetterie-en-ligne">Horaires et informations sont disponibles sur le site</a>

    <h2>Lightning Talk</h2>
    <p>
      Un Lightning Talk est une présentation très courte (maximum 5 minutes). Dés le samedi matin (ou même avant par e-mail) vous pourrez proposer votre Lightning Talk. Après la dernière conférence, un moment sera réservé pour que les différents LT soient présentés, les uns après les autres.
    </p>
    <h2>Barcamps</h2>
    <p>
      Nous finirons la première journée par plusieurs sessions d'atelier barcamp. Là encore, toute la journée du samedi, une liste sera disponible pour proposer des sujets de barcamps. Les sujets interressants les plus de personnes seront ensuite traités, dans les trois d'atelier que le lieu propose.
    </p>

    <h2>Conférences</h2>
  </div>
</div>



<div class="row">
  {% for talk in TALKS %}

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img class="avatar" src="{{ talk.image }}">
        <span class="card-title">{{ talk.author }}</span>
      </div>
      <div class="card-content">
        <span class="card-title">{{ talk.title }}</span>
        <span class="card-subtitle">Samedi 14 septembre - horaire</span>
        <p>{{ talk.description }}</p>
      </div>
      <div class="card-action">
        {% if talk.home_page %}
        <a href="{{talk.home_page}}" target="_blank" class="waves-effect waves-light btn-floating social">
          <i class="fa fa-home"></i>
        </a>
        {% endif %}

        {% if talk.github %}
        <a href="http://github.com/{{ talk.github }}" target="_blank"
          class="waves-effect waves-light btn-floating social github">
          <i class="fab fa-github"></i>
        </a>
        {% endif %}

        {% if talk.twitter %}
        <a href="http://twitter.com/{{ talk.twitter }}" target="_blank"
          class="waves-effect waves-light btn-floating social twitter">
          <i class="fab fa-twitter"></i>
        </a>
        {% endif %}

        {% if talk.linkedin %}
        <a href="" target="_blank" class="waves-effect waves-light btn-floating social linkedin">
          <i class="fab fa-linkedin"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  {% if loop.index0 % 3 == 2 %}
</div>
<div class="row">
  {% endif %}
  {% endfor %}

</div>


{% endblock section %}
