@import '_color.scss';
@import '../node_modules/materialize-css/sass/materialize.scss';
@import '../node_modules/materialize-social/materialize-social';

$material-icons-font-path: '../fonts/material-icons/';
@import '../node_modules/font-awesome-scss/scss/font-awesome.scss';
@import '../node_modules/slick-carousel/slick/slick.scss';
@import '../node_modules/leaflet/dist/leaflet';
@import '../node_modules/material-icons/iconfont/material-icons.scss';

// @import '../node_modules/fontawesome/scss/fa-solid.scss';
// @import '../node_modules/fontawesome/scss/fa-brands.scss';

$blue: #376F9E;
$yellow: #FFD241;
$green: #0F3E2E;

.container {
  max-width: 1700px;
}

@media #{$medium-and-up} {
  .container {
    width: 95%;
  }
}

.position-relative {
  position: relative;
}

nav {
  ul {
    a {
      text-transform: uppercase;
    }
  }
}

[id="index-banner"] {
  overflow: hidden;

  .row {
    margin: 0;
  }
  /*&:before {
    content: "";
    position: absolute;top:0;left: 0;right: 0;bottom: 173px;
    background-image: url('../images/djangocong-poney.jpg');
    background-size: cover;
  }*/
}

.hero {
  text-shadow: 0 0 10px black;
  padding: 1em !important;
  background-color: color('teal', 'base');

  .header {
    margin: 0;
  }

  h5 {
    text-shadow: 0 0 5px black;
  }

  @media #{$medium-and-up} {
    padding: 2.5em 1em !important;
    position: absolute;
    bottom: 0;left: 0;right: 0;
    //background-color: rgba(255, 255, 255, 0.7);

    h1 {
      font-size: 3rem;
    }

    [class*="btn-"] {
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translate(0, -50%);
    }
  }

  @media #{$medium-and-down} {
    h1 {
      font-size: 2rem;
    }

    [class*="btn-"] {
      margin-top: 10px;
    }
  }
}

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    &.slick-active {
      button {
        background-color: black;
      }
    }
    button {
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-color: #999;
      border: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    :hover {
      background-color: black;
    }
  }
}

/* Custom Arrow */
.prev {
  color: #999;
  position: absolute;
  top: 38%;
  left: -2em;
  font-size: 1.5em;
  :hover {
    cursor: pointer;
    color: black;
  }
}

.next {
  color: #999;
  position: absolute;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
  :hover {
    cursor: pointer;
    color: black;
  }
}

@media screen and (max-width: 800px) {
  .next {
    display: none !important;
  }
}

[id="map_djangocong"] {
  height: 400px;
}

.leaflet-top, .leaflet-bottom {
  /* override default (1000) since the navbar is at 997 */
  z-index: 996;
}

.hidden-g {
  color: #ffffff20;
  font-size: 60%;
}
.hidden-g-text {
  color: rgba(0, 0, 0, .2);
  font-size: 60%;
}


.emphasized-panel {
  background-color: #d9f9f6;
}

.pony {
  position: absolute;
  bottom: 0px;
  left: -100%;
  z-index: 1000;
}

.text-container {
  max-width: 700px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.card .card-image .card-title {
  background: rgba(0, 0, 0, 0.5);
  right: 0;
}

.card .card-content .card-subtitle {
  @extend .card-title;
  font-size: 18px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

.sponsors div a {
  height: 250px;
  display: flex;
}

.sponsors div a img {
  max-width: 250px;
  max-height: 250px;
  margin: auto;
}

.shadow-text {
  text-shadow: black 1px 1px 10px;
}